---
import CarouselItem from "../ui/CarouselItem.astro";
---

<div class="carousel carousel-center rounded-box">
  <div
    class="carousel-item w-[200px] h-[300px] mesas bg-cover"
  >
    <div class="relative">
      <p class="absolute z-10 bottom-2 left-2 text-white text-2xl font-bold">
        Mesas encapsuladas
      </p>
    </div>
  </div>

  <div
    class="carousel-item w-[200px] h-[300px] paredes bg-cover"
  >
    <div class="relative">
      <p class="absolute z-10 bottom-2 left-2 text-white text-2xl font-bold">
        Paredes encapsuladas
      </p>
    </div>
  </div>
  
  <div
    class="carousel-item w-[200px] h-[300px] puertas bg-cover"
  >
    <div class="relative">
      <p class="absolute z-10 bottom-2 left-2 text-white text-2xl font-bold">
        Puertas encapsuladas
      </p>
    </div>
  </div>
  
  <div
    class="carousel-item w-[200px] h-[300px] pisos bg-cover"
  >
    <div class="relative">
      <p class="absolute z-10 bottom-2 left-2 text-white text-2xl font-bold">
        Pisos encapsuladas
      </p>
    </div>
  </div>
  
  <div
    class="carousel-item w-[200px] h-[300px] carpinteria bg-cover"
  >
    <div class="relative">
      <p class="absolute z-10 bottom-2 left-2 text-white text-2xl font-bold">
        Carpintería
      </p>
    </div>
  </div>
  
  <div
    class="carousel-item w-[200px] h-[300px] cubiertas bg-cover"
  >
    <div class="relative">
      <p class="absolute z-10 bottom-2 left-2 text-white text-2xl font-bold">
        Cubiertas de cocina
      </p>
    </div>
  </div>
  
  <div
    class="carousel-item w-[200px] h-[300px] reparacion bg-cover"
  >
    <div class="relative">
      <p class="absolute z-10 bottom-2 left-2 text-white text-2xl font-bold">
        Reparación de mesas
      </p>
    </div>
  </div>
</div>
