---
import CarouselItem from "../ui/CarouselItem.astro";
---

<section class="carousel w-full">

  <CarouselItem id="about1" imgURL="resina_5a.jpg" />
  
  <CarouselItem id="about2" imgURL="resina_9.jpg" />
  
  <CarouselItem id="about3" imgURL="resina_7.jpg" />
</section>
<div class="flex w-full justify-center gap-2 py-2">
  <a href="#about1" class="btn btn-xs">1</a>
  <a href="#about2" class="btn btn-xs">2</a>
  <a href="#about3" class="btn btn-xs">3</a>
</div>
