---
import CarouselItem from "../ui/CarouselItem.astro";
---

<section class="carousel w-full">
  <CarouselItem id="item1" title="Mesas encapsuladas" imgURL="mesa_encapsulada.jpg" />

  <CarouselItem id="item2" title="Paredes encapsuladas" imgURL="paredes_encapsuladas.jpg" />

  <CarouselItem id="item3" title="Puertas encapsuladas" imgURL="puertas_encapsuladas.jpg" />

  <CarouselItem id="item4" title="Pisos encapsuladas" imgURL="pisos_encapsuladas.jpg" />

  <CarouselItem id="item5" title="Carpintería" imgURL="carpinteria.jpg" />

  <CarouselItem id="item6" title="Cubiertas de cocina" imgURL="cubierta_cocina_3.jpg" />

  <CarouselItem id="item7" title="Reparación de mesas" imgURL="reparacion_muebles.jpg" />
</section>
<div class="flex w-full justify-center gap-2 py-2">
  <a href="#item1" class="btn btn-xs">1</a>
  <a href="#item2" class="btn btn-xs">2</a>
  <a href="#item3" class="btn btn-xs">3</a>
  <a href="#item4" class="btn btn-xs">4</a>
  <a href="#item5" class="btn btn-xs">5</a>
  <a href="#item6" class="btn btn-xs">6</a>
  <a href="#item7" class="btn btn-xs">7</a>
</div>
