---
import CarouselItem from "../ui/CarouselItem.astro";
---

<section class="carousel w-full">
  <CarouselItem id="item1" title="Mesas encapsuladas">
    <img
      src="./resina_3.jpg"
      class="w-full rounded-2xl"
    />
  </CarouselItem>

  <CarouselItem id="item2" title="Paredes encapsuladas">
    <img
      src="./resina_10.jpg"
      class="w-full rounded-2xl"
    />
  </CarouselItem>

  <CarouselItem id="item3" title="Puertas encapsuladas">
    <img
      src="./resina_8.jpg"
      class="w-full rounded-2xl"
    />
  </CarouselItem>

  <CarouselItem id="item4" title="Pisos encapsuladas">
    <img
      src="./resina_5a.jpg"
      class="w-full h-full rounded-2xl"
    />
  </CarouselItem>

  <CarouselItem id="item5" title="Carpintería">
    <img
      src="./resina_2.jpg"
      class="w-full rounded-2xl"
    />
  </CarouselItem>
  
  <CarouselItem id="item6" title="Cubiertas de cocina">
    <img
      src="./resina_9.jpg"
      class="w-full h-full rounded-2xl"
    />
  </CarouselItem>
  
  <CarouselItem id="item7" title="Reparación de mesas">
    <img
      src="./resina_7.jpg"
      class="w-full rounded-2xl h-full"
    />
  </CarouselItem>
</section>
<div class="flex w-full justify-center gap-2 py-2">
  <a href="#item1" class="btn btn-xs">1</a>
  <a href="#item2" class="btn btn-xs">2</a>
  <a href="#item3" class="btn btn-xs">3</a>
  <a href="#item4" class="btn btn-xs">4</a>
  <a href="#item5" class="btn btn-xs">5</a>
  <a href="#item6" class="btn btn-xs">6</a>
  <a href="#item7" class="btn btn-xs">7</a>
</div>
