---
import Carousel from "../components/layouts/Carousel.astro";
import Footer from "../components/layouts/Footer.astro";
import CarouselAboutUs from "../components/layouts/CarouselAboutUs.astro";
import Layout from "../layouts/Layout.astro";
import CarouselDesktop from "../components/layouts/CarouselDesktop.astro";
---

<Layout>
  <header
    id="inicio"
    class="flex flex-col items-center md:items-start md:justify-center px-10 gap-5 h-screen header bg-cover bg-center text-black"
  >
    <h1 class="text-3xl font-bold md:hidden">¡Bienvenidos!</h1>
    <h1 class="text-4xl font-bold hidden md:block w-1/2">
      Estilo, resistencia y personalidad en cada rincón.
    </h1>
    <p class="text-center md:w-1/3 md:text-left">
      Somos un negocio creativo y especializado en diseño y fabricación de
      muebles y pisos de resina epóxica y carpintería a medida. Combinamos la
      resistencia de la resina con la calidez de la madera para transformar
      espacios en ambientes únicos, funcionales y llenos de estilo.
    </p>
    <button class="btn btn-primary">Contáctanos</button>
    <figure class="md:hidden">
      <img src="./resina_4.jpg" alt="ejemplo" class="rounded-2xl" />
    </figure>
  </header>

  <main
    id="servicios"
    class="flex flex-col items-center w-full gap-5"
  >
    <div class="md:px-10 md:py-10">
      <h2 class="text-2xl font-black md:font-medium">Nuestros Servicios</h2>
      <div class="px-10 py-10 w-full">
        <div class="hidden md:block w-full">
          <CarouselDesktop />
        </div>
        <div class="md:hidden">
          <Carousel />
        </div>
      </div>
    </div>

    <article
      class="flex justify-between w-full bg-secondary text-white p-10 md:p-0 gap-2"
    >
      <div
        class="flex flex-col items-center md:items-start md:justify-center gap-5 md:w-1/2 md:px-10"
      >
        <p class="text-2xl font-black">
          Creamos más que muebles, creamos experiencias visuales.
        </p>
        <p>
          ¡Dale vida a tus espacios con estilo! Fabricamos Mesas Encapsuladas,
          Pisos de Porcelanato Liquido 3D y Carpintería creativa brindando
          acabados modernos para hogares, negocios o donde quieras destacar.
          Contáctanos cuanto antes
        </p>
      </div>

      <figure class="hidden md:block">
        <img src="./resina_8.jpg" alt="mesa" class="w-[400px] h-[500px]" />
      </figure>
    </article>

    <section id="about-us" class="flex flex-col md:flex-row w-full md:justify-evenly p-10 gap-5">
      <div class="parent hidden md:w-1/2 md:h-[500px] md:block">
        <div class="div1 first-image bg-cover rounded-2xl"></div>
        <div class="div2 second-image bg-cover rounded-2xl"></div>
        <div class="div3 third-image bg-cover rounded-2xl"></div>
      </div>

      <div class="flex flex-col items-center md:w-1/3 md:justify-center gap-5">
        <h2 class="text-3xl font-bold">Sobre Nosotros</h2>
        <p>
          Somos un negocio creativo ofreciendo servicios y productos de calidad.
          Nos encantaría trabajar en tu hogar, dando nuestro toque de diseño,
          arte y resistencia.
        </p>
        <p>
          Somos un negocio creativo ofreciendo servicios y productos de calidad.
          Nos encantaría trabajar en tu hogar, dando nuestro toque de diseño,
          arte y resistencia.
        </p>
        <button class="btn btn-primary">Contáctanos</button>
      </div>
      <div class="md:hidden">
        <CarouselAboutUs />
      </div>
    </section>

    <Footer />
  </main>
</Layout>
